a {
    color: white;
    display: inline-block;
    text-decoration: none;
}

body {
    align-items: center;
    background:steelblue;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.alter {
    width: 178px;
}

.alterator-buttons {
    display: flex;
    font-size: 17px;
    gap: 8px; 
    height: 40px;
    justify-content: center;
}

.calculate {
    font-size: 17px;
    height: 77px;
    padding: 0;
    width: 84px;
    background-color: white;
}

.calculator-body {
    align-items: center;
    background-color: darkgray;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 4px 4px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 565px;
    width: 400px;
}

.calculator-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.clear {
    background-color: indianred;
}

.current {
    display: flex;
    height: 50px;
    width: 340px;
    justify-content: flex-end;
    padding: 10px;
    font-size: 25px;
}

.display {
    display: flex;
    flex-direction: column; 
    flex-grow: 1;
    inline-size: 360px;
    overflow: hidden;
}

.delete {
    background-color: lightblue;
}

.display-case {
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    flex-wrap: wrap;
    height: 118px;
    margin: 20px 0px 15px;
    width: 360px;
}

.footer {
    bottom: 0;
    position: absolute;
    display: flex;
    padding: 10px;
}

.history {
    align-items: center;
    display: flex;
    font-size: 17px;
    height: 30px;
    justify-content: flex-end;
    padding: 10px;
    width: 340px;
    
}

.lower-button-case {
    margin: 15px 0 20px;
    height: 332px;
}

.operator {
    background-color:khaki;
}

.top-button-case {
    display: flex;
    justify-content: center;
    width: 360px;
}

.submit {
    background-color:lightsalmon/* rgb(94, 196, 94); */
}

a:hover {
    color: gold;
    transform:scale(1.1);
}